body {
  background-image: linear-gradient(to top, #fad0c4 0%, #ffd1ff 100%);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

button {
  display: inline;
  height: 45px;
  padding: 10px;
  color: #ff0001;
}

h1,
h3 {
  text-transform: capitalize;
}

h1 {
  color: #cd7f4f;
  font-size: 20px;
  margin-top: 0.5rem;
}

h3 {
  color: #cd7f4f;
  font-size: 13px;
}

section {
  margin: 50px;
  font-family: "Days One", sans-serif;
}

section h2 {
  font-size: 60px;
  color: #cd7f4f;
  text-align: center;
}

img {
  height: 100px;
  background-color: #e5c8be;
  border-radius: 28px;
  margin-bottom: 10px;
  width: 100px;
}

footer {
  text-align: center;
  color: #d28755;
}

.card {
  background: #f6edeb;
  border: none;
  box-shadow: 12px 12px 2px 1px rgb(193 193 241 / 20%);
  padding: 20px;
  display: block;
  margin: 100px auto;
  max-width: 600px;
}

.card-body {
  font-size: 15px;
}

.btn {
  color: #ff0001;
  background-color: #f6edeb;
}

.btn:hover {
  color: #f6edeb;
  background-color: #ff0001;
  border: none;
}

.cityTitle {
  font-family: "Days One", sans-serif;
  color: #ff0001;
}

.units {
  font-size: 15px;
  line-height: 24px;
  vertical-align: 150%;
}

.temperatureUnits .active {
  color: #d28755;
  cursor: default;
  text-decoration: none;
}

.temperatureUnits .active:hover {
  text-decoration: none;
}

a {
  color: #ff0001;
}

.col {
  color: #cd7f4f;
}

.handwritting {
  font-family: "Pacifico", cursive;
}

.lowercase {
  text-transform: lowercase;
}

.signature {
  color: black;
  font-size: 10px;
  font-family: monospace;
  margin: 40px auto;
  text-align: center;
}
